/* !Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* !CSS Variable */
:root {
  --mainWhite: #ffffff;
  --primaryColor: #18191f;
  --darkBlue: #0a0826;
  --btnColor: #e02c6d;
  --mainTransition: all 0.3s linear;
  --letter-spacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

/* !Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !Body */
body {
  font-family: "Poppins", sans-serif;
  color: var(--primaryColor);
  background: var(--mainWhite);
  font-size: 1rem;
  line-height: 1.4;
}

/* !Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--letterSpace);
}

h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p:not(.collection-para) {
  margin-bottom: 1.25rem;
  font-weight: 100;
  line-height: 1.5;
  width: 500px;
}

a {
  text-decoration: none;
}

/* !More Global Styles */

/* !Section */
.section-heading {
  margin-left: 120px;
  margin-top: 87px;
}
.section-center {
  width: 99%;
  margin: 10rem 10px;
}
.journey {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-img {
  width: 80%;
}

.main-btn {
  text-transform: capitalize;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5;
  display: inline-flex;
  background: var(--btnColor);
  color: var(--mainWhite);
  border-radius: 25px;
  overflow: hidden;
  border: none;
  transition: var(--mainTransition);
}

.main-btn:hover {
  color: var(--btnColor);
  background: var(--mainWhite);
  border: 1px solid var(--btnColor);
  transform: translateY(-1%);
}
.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
}
.button-icon {
  font-size: 1em;
}

.collection-btn {
  text-transform: capitalize;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5;
  display: inline-flex;
  background: transparent;
  color: var(--btnColor);
  border-radius: 25px;
  overflow: hidden;
  border: none;
  margin-left: 70%;
  margin-top: 20px;
  transition: var(--mainTransition);
}

.collection-btn:hover {
  color: var(--mainWhite);
  background: var(--btnColor);
  transform: translateY(-2%);
}

/* !Title */
.collection-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
/* !Collection */
.collections {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  margin: 0 50px;
  padding: 0 150px;
}
.collection {
  width: 330px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: var(--mainWhite);
}

/* !Media Queries */
@media only screen and (max-width: 1400px) {
  .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    padding: 100px;
    margin: 0;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0;
    padding: 0;
  }
  .button-text {
    font-size: 12px;
    font-weight: 600;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .collections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .journey {
    flex-direction: column-reverse;
  }
  .collection {
    margin-bottom: 25px;
  }
  .container {
    width: 100%;
  }
  .section-center p {
    width: 100%;
    text-align: justify;
  }
}

.collection-img {
  padding: 17px 15px;
}
.collection-info {
  padding-left: 10px;
}
.collection-para {
  color: #888894;
  font-size: 0.9rem;
}
/* !Ratings */
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #eaeaea;
}
/* !Footer */
.footer {
  background: var(--darkBlue);
  color: var(--mainWhite);
  text-align: center;
  padding: 25px 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.footer-icon {
  font-size: 1.9rem;
  margin-right: 1rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  cursor: pointer;
}

.footer-icon:hover {
  color: var(--primaryColor);
  transform: translateY(-10%);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--letterSpace);
}

/* !End of footer */
/* !Navbar */
