/* !Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* !CSS Variable */
:root {
  --mainWhite: #ffffff;
  --primaryColor: #18191f;
  --darkBlue: #0a0826;
  --btnColor: #e02c6d;
  --mainTransition: all 0.3s linear;
  --letter-spacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

/* !Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !Body */
body {
  font-family: "Poppins", sans-serif;
  color: var(--primaryColor);
  background: var(--mainWhite);
  font-size: 1rem;
  line-height: 1.4;
}

/* !Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--letterSpace);
}

h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p:not(.collection-para) {
  margin-bottom: 1.25rem;
  font-weight: 100;
  line-height: 1.5;
  width: 500px;
}

a {
  text-decoration: none;
}

/* !More Global Styles */

/* !Section */
.section-center {
  width: 85vw;
  margin: 10rem auto;
}
.journey {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-img {
  width: 80%;
}

.main-btn {
  text-transform: capitalize;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5;
  display: inline-flex;
  background: var(--btnColor);
  color: var(--mainWhite);
  border-radius: 25px;
  overflow: hidden;
  border: none;
  transition: var(--mainTransition);
}

.main-btn:hover {
  color: var(--btnColor);
  background: var(--mainWhite);
  border: 1px solid var(--btnColor);
  transform: translateY(-1%);
}
.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
}
.button-icon {
  font-size: 1em;
}

.collection-btn {
  text-transform: capitalize;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  line-height: 1.5;
  display: inline-flex;
  background: transparent;
  color: var(--btnColor);
  border-radius: 25px;
  overflow: hidden;
  border: none;
  margin-left: 78%;
  margin-top: 20px;
  transition: var(--mainTransition);
}

.collection-btn:hover {
  color: var(--mainWhite);
  background: var(--btnColor);
  transform: translateY(-2%);
}

/* !Title */
.collection-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
/* !Collection */
.collections {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-left: 50px;
  padding-left: 245px;
}
.collection {
  width: 330px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: var(--mainWhite);
}

.collection-img {
  padding: 17px 15px;
}
.collection-info {
  padding-left: 10px;
}
.collection-para {
  color: #888894;
  font-size: 0.9rem;
}
/* !Navbar */
